<%- include("partials/header.ejs") %>

<h1>👋 Welcome to My Portfolio!</h1>

<p>Hello! I’m an enthusiastic Information Science and Engineering (ISE) student with a deep interest in technology and problem-solving. I enjoy exploring how things work under the hood—whether it’s a line of code, a data structure, or a full-stack web application. I believe in continuous learning and am passionate about building digital solutions that are both creative and meaningful.</p>

<p>
  This portfolio is a glimpse into my learning journey, projects, and skills. From developing responsive web interfaces to working with data and backend logic, I’ve enjoyed every step of bringing ideas to life through code. Feel free to explore my work, check out my projects, and connect with me as I continue growing in the world of tech..
</p>



<%- include("partials/footer.ejs") %>
